p {
    font-size: 0.9em;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}
header .fa, .fas{
    color:black;
}

.header-container {
    display: flex;
    flex-basis: 56px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
    padding: 0 22px;
    box-shadow: 0px 5px 5px 2px rgba(168,166,168,0.5);
    z-index: 1;
}

header div .act-sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: red;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
}

header .menu-btn {
    font-size: 16px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: gray;
    text-transform: uppercase;
    cursor: pointer;
}

header .logo {
    /*flex: 0 0 150px;*/
    margin-left: 10px;
}

header .logo-icon {
    color: #f00;
    padding-right: 5px;
}

header .logo h1 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #282828;
    white-space: nowrap;
    cursor: pointer;
}

header .search-form {
    display: flex;
    height: 32px;
    width: 600px;
    margin-right: 30px;
}

header .search-input, .search-button {
    border: 1px solid rgb(204,204,204);
}

header .search-input {
    flex-grow: 1;
    margin: 0 1px;
    flex-basis: 600px;
    font-size: 15px;
    font-weight: 500;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    padding-left: 1px;
    color: var(--black-text);
}

header .search-button {
    flex: 0 0 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f8f8f8;
    color: var(--black-text);
    cursor: pointer;
}

header .user-menu {
        height: 32px;
        width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
        color: var(--grey-text);
        margin-left: 20px;
        margin-right: 20px;

}

header .user-menu #header-button{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 30px;
    margin-left: 30px;
}